<configuration>
	<system.webServer>
		<rewrite>
			<rules>
			<!--
				<rule name="wwwroot-static" stopProcessing="true">
					<match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg|ico|mem|data|memgz|datagz|unity3dgz|jsgz|jso|unitywebn))" />
					<action type="Rewrite" url="{R:1}" />
				</rule> 
			-->
			
			<rule name="empty-root-index" stopProcessing="true">
			  <match url="^$" />
			  <action type="Rewrite" url="index.html" />
			</rule>
			
			<!-- 
             Make sure you have a <base href="/" /> tag to fix the root path 
             or all relative links will break on rewrite 
			-->
			<rule name="Html5-Routes" stopProcessing="true">
			  <match url=".*" />
			  <conditions logicalGrouping="MatchAll">
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				<add input="{REQUEST_URI}" pattern="runtimes/" negate="true" />
			  </conditions>
			  <action type="Rewrite" url="index.html"  />
			</rule> 
		  </rules>
		</rewrite>
		
		<staticContent>
			<remove fileExtension=".mem" />
			<mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
			<remove fileExtension=".data" />
			<mimeMap fileExtension=".data" mimeType="application/octet-stream" />
			<remove fileExtension=".memgz" />
			<mimeMap fileExtension=".memgz" mimeType="application/octet-stream" />
			<remove fileExtension=".datagz" />
			<mimeMap fileExtension=".datagz" mimeType="application/octet-stream" />
			<remove fileExtension=".unity3dgz" />
			<mimeMap fileExtension=".unity3dgz" mimeType="application/octet-stream" />
			<remove fileExtension=".jsgz" />
			<mimeMap fileExtension=".jsgz" mimeType="application/x-javascript; charset=UTF-8" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
			<remove fileExtension=".unityweb" />
			<mimeMap fileExtension=".unityweb" mimeType="application/octet-stream" />
		</staticContent>
	</system.webServer>
</configuration>